<nav role="navigation">
  <ul>
    <li><a href="/" {% if page.url == "/" %}class="active"{% endif %}>Home</a></li>
    <li><a href="/about" {% if page.url == "/about" %}class="active"{% endif %}>About</a></li>
    <li><a href="/projects" {% if page.url == "/projects" %}class="active"{% endif %}>Projects</a></li>
    <li><a href="/tags" {% if page.url == "/tags" %}class="active"{% endif %}>Tags</a></li>
    <li><a id="theme-toggle" onclick="modeSwitcher()" class="theme-toggle-button" role="button"></a></li>
  </ul>
</nav>

<script src="/assets/js/mode-switcher.js"></script>


